body{
    background-color:white;
} 
h1{
    color:#226787;
    display:flex;
    border: 15px solid ;
   
   } 

form{
    color:#00000;
    font-style: Block;
    font-size: 20px; 
    max-width: 500px;
    margin: auto;

